<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <img style=" max-width:100%; height:auto; min-width: 50%; margin-bottom: 15%;" src="{{site.logo | relative_url}}" alt="Logo" />
      </header>
      <div id="contents">
        <h3 style="margin-bottom: 2%;">Hunting</h3>
        <ul>
          <li><a href="./hunting.html">Solo</a></li>
          <li><a href="./charms.html">AoE</a></li>
        </ul>
        <h3 style="margin-bottom: 2%;">Charms</h3>
        <ul>
          <li><a href="./hunting.html">Defensive</a></li>
          <li><a href="./charms.html">Attacking</a></li>
        </ul>
        <h3 style="margin-bottom: 2%;">Equipment</h3>
        <ul>
          <li><a href="./hunting.html">Bows</a></li>
          <li><a href="./charms.html">Crossbows</a></li>
          <li><a href="./charms.html">Helmets</a></li>
          <li><a href="./charms.html">Armors</a></li>
          <li><a href="./charms.html">Legs</a></li>
          <li><a href="./charms.html">Amulets</a></li>
          <li><a href="./charms.html">Rings</a></li>
          <li><a href="./charms.html">Trinkets</a></li>
        </ul>
      </div>
      <section>
      {{ content }}
      </section>
      <footer>
        <
        <a href="https://www.tibia.com"><img style="max-width:40%; height:auto; min-width: 20%;" src="/ultimatespirit/assets/img/tibia.png" alt="Tibia" /></a>
        <a href="https://tibia.fandom.com/wiki/Main_Page"><img style="max-width:40%; height:auto; min-width: 20%;" src="/ultimatespirit/assets/img/tibia-wiki.webp" alt="Tibia Wiki" /></a>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
